<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Not Authorized</title>
    <meta charset="UTF-8">
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
  <header>
    <div class="headerElements">
     <div class="logo">S M S</div>
    </div>
  </header>


 <main>
        <h3>You are not Authorized</h3>
        <p>This action requires admin permision</p>
        <p>Go back <a href="/students">home</a></p>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>